[submodule "lib/RtAudioWrapper"]
	path = lib/RtAudioWrapper
	url = https://github.com/kooBH/RtAudioWrapper.git
[submodule "bin"]
	path = bin
	url = https://github.com/kooBH/QtBin.git
[submodule "lib/WAV"]
	path = lib/WAV
	url = https://github.com/koobh/WAV
[submodule "lib/SSTT_wrapper"]
	path = lib/SSTT_wrapper
	url = https://github.com/kooBH/SSTT_wrapper.git
[submodule "lib/jsonConfig"]
	path = lib/jsonConfig
	url = https://github.com/kooBH/jsonConfig.git
[submodule "lib/vcpkg"]
	path = lib/vcpkg
	url = https://github.com/microsoft/vcpkg.git
